[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demucs = "*"
essentia = "*"
matplotlib = "*"
penn = "*"
crepe = "*"
librosa = "*"
tensorflow = "*"
soundfile = "*"
pysptk = "*"
pyworld = "*"
scipy = "*"
idtap = {file = "../../../../documents/2025/idtap_project/Python-API", editable = true}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
