[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
idtap-api = "*"
demucs = "*"
essentia = "*"
matplotlib = "*"
penn = "*"
crepe = "*"
librosa = "*"
tensorflow = "*"
soundfile = "*"
pysptk = "*"
pyworld = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
